
<html>
<body>
    <form action="/create" method = "POST">
    Title: <input type="text" name="Title"><br>
    Body: <input type="text" name="Body"><br>
    <input type="submit" value="Submit">
    </form>

</body>
</html>